In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
from tqdm import tqdm_notebook as tq
from bs4 import BeautifulSoup as bs

In [2]:
from selenium.webdriver.common.keys import Keys

In [116]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [117]:
driver.get("https://map.kakao.com/")

In [118]:
driver.maximize_window()

In [119]:
layer_btn = driver.find_element_by_css_selector("body > div.coach_layer.coach_layer_type1 > div > div > div > span")
layer_btn.click()

searchbox = driver.find_element_by_css_selector("#search\.keyword\.query")
searchbox.send_keys("파미에스테이션 맛집")
time.sleep(1)
searchbox.send_keys(Keys.ENTER)
time.sleep(2)

restaurant_names = []
restaurant_categories = []
restaurant_scores = []
restaurant_urls = []

for i in tq(range(1, 35)) :
    if i == 1:
        continue
    elif i == 2:
        more_place = driver.find_element_by_css_selector("#info\.search\.place\.more")
        more_place.click()
    elif i % 5 == 1:
        next_btn = driver.find_element_by_css_selector("#info\.search\.page\.next")
        next_btn.click()
    elif i% 5 == 0:
        nav_btn = driver.find_element_by_css_selector("#info\.search\.page\.no5")
        nav_btn.click()
    else :
        nav_btn = driver.find_element_by_css_selector("#info\.search\.page\.no{}".format(i%5))
        nav_btn.click()
    time.sleep(2)
    
    names = driver.find_elements_by_css_selector("div.head_item.clickArea > strong > a.link_name")
    scores = driver.find_elements_by_css_selector("div.rating.clickArea > span.score > em")
    categories = driver.find_elements_by_css_selector("div.head_item.clickArea > span")

    for i in range(len(names)):
        restaurant_names.append(names[i].text)
        restaurant_scores.append(scores[i].text)
        restaurant_categories.append(categories[i].text)

C:\Users\user\AppData\Local\Temp\ipykernel_9320\2669802849.py:15: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tq(range(1, 35)) :

  0%|          | 0/34 [00:00<?, ?it/s]

In [107]:
len(restaurant_categories)

500

In [108]:
data = {"상호명" : restaurant_names, "카테고리" : restaurant_categories, "별점" : restaurant_scores}

In [109]:
goteo_matjip = pd.DataFrame(data)

In [110]:
goteo_matjip

                  상호명     카테고리   별점
0    JW메리어트호텔서울 플레이버즈       뷔페  4.1
1        스타벅스 파미에파크R점    커피전문점  3.6
2      모던샤브하우스 센트럴시티점     샤브샤브  4.8
3          딤딤섬 센트럴시티점       중식  3.4
4             모트32 서울     중국요리  4.0
..                ...      ...  ...
495           크래프트브로스  호프,요리주점  3.4
496       스타벅스 서초중앙로점    커피전문점  2.6
497       파리크라상 반포서래점  제과,베이커리  4.0
498              명진떡방     떡,한과  0.0
499   브루클린더버거조인트 서래본점      햄버거  3.9

[500 rows x 3 columns]

In [111]:
goteo_matjip.to_excel("고터 식당 리스트.xlsx", encoding = "UTF-8-sig")